{% with id=widget.attrs.id %}
  <div{% if id %} id="{{ id }}"{% endif %}class="{% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %} d-flex flex-wrap mb-2 mx-2">
    {% for group, options, index in widget.optgroups %}
      {% if group %}
        <div class="border border-2 border-dark">123<label>{{ group }}</label>
      {% endif %}
      {% for option in options %}
        <div class="p-1 options" style="width:120px">
          {% include option.template_name with widget=option %}
        </div>
      {% endfor %}
      {% if group %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endwith %}
