{% load static %}
<div class="card w-100 my-3 ">
  <div class="card-header">
    <div class="row">
    <div class="col-10">

      <h3 class="mb-0">
        {% if p.is_approved %}
        <a  data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="This top tooltip is themed via CSS variables."><img src="{% static 'main\images\ok.svg' %}" alt="is_approved" height="50px"></a>
        {% endif %}
    {{ p.name_of_project }}
    </h3>
       {% if p.is_approved %}
            <p class="text text-primary my-0"><i>проект с проверенным менеджером</i></p>
            {% endif %}
    </div>
    <div class="col">
      <p class="text text-end"><i>
        {{p.date_create}}</i>
      </p>
    </div>
</div>
  </div>
  <a href="{% url 'project' p.pk %}" class="mx-auto"><img src=" {{ p.poster.url }} " class="card-img-top poster" alt="{{ p.poster.url }}" ></a>
  <div class="card-body">
    <h4 class="card-title">Тип проекта: {{ p.get_project_type_display }} | Куратор: {{ p.manager.get_full_name }}</h4>
    <h5 class="card-title">{{ p.get_project_status_display }}</h5>
    <h5 class="card-title">Учебные группы исполнителей: {{ p.get_all_target_group_types }} </h5>
    <p class="card-text">{{ p.short_project_description }}</p>

  </div>
  <div class="card-footer">
      <div class="row">
         <div class=" py-1
          {% if menu or request.user.is_superuser %}
          col-md-4 col-sm-12
          {% else %}
          col-12
          {% endif %}
          ">
            <a href="{% url 'project' p.pk %}" class="btn btn-primary w-100 h-100 d-md-flex align-items-center justify-content-center" >Страница проекта</a>
         </div>

	    {% if menu or request.user.is_superuser %}
        <div class=" py-1 col-md-4 col-sm-12">
	        <a href="{% url 'edit' p.pk %}" class="btn btn-success w-100 h-100 d-md-flex align-items-center justify-content-center">Редактировать проект</a>
        </div>
        <div class=" py-1 col-md-4 col-sm-12">
	        <a href="{% url 'set_project_status' p.pk 'delete' %}" class="btn btn-danger w-100  h-100 d-md-flex align-items-center justify-content-center">Удалить проект</a>
        </div>
	    {% endif %}
      </div>
  </div>
</div>

<style>
    a.btn:{
    display:block;
    padding:auto;
    }
    img.poster:{
        max-height:400px;
        width:100%;
    }

</style>