
<div class="modal modal-xl fade" id="WikiHelpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog d-block">
    <div class="modal-content d-block">
      <div class="modal-header d-block">
        <h1 class="modal-title fs-5" id="WikiHelpModalLabel">Доступные опции вики-разметки</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p>Вики-разметка позволяет сделать текст логически структурированным и визульно привлекательным. В таблице представлены основные конструкции, примеры их использвания и аналоги на языке HTML.</p>
        <div class="d-block text-wrap">
          <table class="table table-striped w-100 d-block table-bordered align-middle">
           <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="width:20%" colspan="2">Описание</th>
              <th scope="col">Вики-разметка</th>
              <th scope="col">Отображение</th>
              <th scope="col">HTML</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">Курсив</td>
              <td><pre>(( текст ))</pre></td>
              <td><i> текст </i></td>
              <td><pre>&lt;i&gt; текст &lt;/i&gt;</pre></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">Подчёркивание</td>
              <td><pre>&#123;&#123; текст &#125;&#125;</pre></td>
              <td><u> текст </u></td>
              <td><pre>&lt;u&gt; текст &lt;/u&gt;</pre></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Жирное начертание</td>
              <td><pre>[[ текст ]]</pre></td>
              <td><b> текст </b></td>
              <td><pre>&lt;b&gt; текст &lt;/b&gt;</pre></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">Горизонтальная разделительная линия</td>
              <td> --- </td>
              <td><hr></td>
              <td><pre>&lt;hr&gt;</pre></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="2">Заголовки</td>
              <td>
                <pre>
#Большой заголовок
##Средний заголовок
###Маленький заголовок</pre>
              </td>
              <td>
                <h4>Большой заголовок</h4>
                <h5>Средний заголовок</h5>
                <h6>Маленький заголовок</h6>
              </td>
              <td>
                <pre>
&lt;h4&gt;Большой заголовок&lt;/h4&gt;
&lt;h5&gt;Средний заголовок&lt;/h5&gt;
&lt;h6&gt;Маленький заголовок&lt;/h6&gt;</pre>
              </td>
            </tr>
            <tr>
              <th scope="row" rowspan="2" >4</th>
              <td rowspan="2" >Списки</td>
              <td>Нумерованный список</td>
              <td>
                <pre>
&lt;&lt;olist&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 1 &lt;&lt;endline&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 2 &lt;&lt;endline&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 3 &lt;&lt;endline&gt;&gt;
&lt;&lt;endlist&gt;&gt;</pre>
              </td>
              <td>
                <ol>
                  <li> Строка 1 </li>
                  <li> Строка 2 </li>
                  <li> Строка 3 </li>
                </ol>
              </td>
              <td>
                <pre>
&lt;ol&gt;
  &lt;li&gt; Строка 1 &lt;/li&gt;
  &lt;li&gt; Строка 2 &lt;/li&gt;
  &lt;li&gt; Строка 3 &lt;/li&gt;
&lt;/ol&gt;</pre>
              </td>
            </tr>
            <tr class="bg-light">
              <td>Маркированный список</td>
              <td>
                <pre>
&lt;&lt;ulist&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 1 &lt;&lt;endline&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 2 &lt;&lt;endline&gt;&gt;
  &lt;&lt;newline&gt;&gt; Строка 3 &lt;&lt;endline&gt;&gt;
&lt;&lt;endlist&gt;&gt;</pre>

              </td>
              <td>
                <ul>
                  <li> Строка 1 </li>
                  <li> Строка 2 </li>
                  <li> Строка 3 </li>
                </ul>
              </td>
              <td>
                  <pre>
&lt;ul&gt;
  &lt;li&gt; Строка 1 &lt;/li&gt;
  &lt;li&gt; Строка 2 &lt;/li&gt;
  &lt;li&gt; Строка 3 &lt;/li&gt;
&lt;/ul&gt;</pre>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="2">Таблицы</td>
              <td>
                <pre>
&lt;&lt;table&gt;&gt;
  &lt;&lt;newrow&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 1 &lt;&lt;endcol&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 2 &lt;&lt;endcol&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 3 &lt;&lt;endcol&gt;&gt;
  &lt;&lt;endrow&gt;&gt;
  &lt;&lt;newrow&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 4 &lt;&lt;endcol&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 5 &lt;&lt;endcol&gt;&gt;
    &lt;&lt;newcol&gt;&gt; ячейка 6 &lt;&lt;endcol&gt;&gt;
  &lt;&lt;endrow&gt;&gt;
&lt;&lt;endtable&gt;&gt;</pre>
              </td>
              <td>
                <table class="table table-primary table-bordered text-center align-middle">
                  <tr>
                    <td> ячейка 1</td>
                    <td> ячейка 2</td>
                    <td> ячейка 3</td>
                  </tr>
                  <tr>
                    <td> ячейка 4</td>
                    <td> ячейка 5</td>
                    <td> ячейка 6</td>
                  </tr>
                </table>
              </td>
              <td>
                <pre>
&lt;table&gt;
  &lt;tr&gt;
    &lt;td&gt; ячейка 1 &lt;/td&gt;
    &lt;td&gt; ячейка 2 &lt;/td&gt;
    &lt;td&gt; ячейка 3 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt; ячейка 4 &lt;/td&gt;
    &lt;td&gt; ячейка 5 &lt;/td&gt;
    &lt;td&gt; ячейка 6 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</pre>
              </td>
            </tr>

          </tbody>
         </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div>