{% extends '../base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
<hr>
<h3>{{ user.username }} ({{ user.get_full_name }}) <br> Группа: {{ user.study_group }}</h3>
        {% if user.is_approved %}
<hr>
<div class="row mb-3">
  <div class="col-auto ">
      <img src="{% static 'main\images\ok.svg' %}" alt="is_approved" height="30px">
  </div>
  <div class="col ">
       <h4 class="text text-primary my-0 "><i>Проверенный менеджер</i></h4>
  </div>
</div>
<hr>


            {% endif %}


{% if unmarked_reports or marked_reports %}
<div class="row">
  {% if unmarked_reports %}
    <div class="col-sm-12 col-md-6">
      <h1>Не оценнёные мной отчёты:</h1>
      {% for r in unmarked_reports %}
      <div class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100 mb-3">
          <div class="list-group">
            <a href="{% url 'project' r.project.pk %}" class="list-group-item list-group-item-action active">
              <div class="fw-bold d-flex justify-content-between">
                {{r.project.name_of_project}}
                <span class="badge bg-light text-dark"><b>{{ r.reports|length }}</b></span>
              </div>
            </a>
            {% for report in r.reports %}
             <a href="{% url 'create_mark' report.pk %}" class="list-group-item list-group-item-action"> {{ report.heading }} - {{ report.author }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  {% endif %}

  {% if marked_reports %}
    <div class="col">
      <h1>Oценённые мной отчёты:</h1>
      {% for r in marked_reports %}
      <div class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100 mb-3">
          <div class="list-group">
            <a href="{% url 'project' r.project.pk %}" class="list-group-item list-group-item-action active">
              <div class="fw-bold d-flex justify-content-between">
                {{r.project.name_of_project}}
                <span class="badge bg-light text-dark" style="max-high:20px"><b>{{ r.marks|length }}</b></span>
              </div>
            </a>
            {% for mark in r.marks %}
             <a href="{% url 'create_mark' mark.related_report.pk %}" class="list-group-item list-group-item-action">
               <div class="d-flex justify-content-between">
                 {{ mark.related_report.heading }} - {{ mark.related_report.author }}
                 <span class="badge bg-light
{% if mark.value < 60 %} text-danger {% elif mark.value < 70 %} text-secondary {% elif mark.value < 90 %} text-primary {% else %} text-success {% endif %}"
                 >
                   <b>{{ mark.value }}</b></span>
               </div>
             </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
</div>

{% endif %}


{% if my_applies or managed_applies or managed_projects or projects %}
{% if my_applies %}
  <h1>Мои заявки:</h1>
  {% for ap in my_applies %}
    <div class="card p-2 my-2">
      <div class="row">
        <div class="col">
          <a href="{% url 'project' ap.project.pk %}" class="card-text text text-dark" style="text-decoration:none">{{ ap.project }}</a>
        </div>
        <div class="col-auto">
          <a href="{% url 'apply_or_decline' ap.pk 'delete' %}" class="btn btn-danger">Отозвать заявку</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if managed_applies %}
  <h1>Заявки на мои проекты:</h1>
  {% for ap in managed_applies %}
   <div class="card p-2 my-2">
      <div class="row">
        <div class="col">
          <p class="card-text text text-dark" style="text-decoration:none">

            <a href="{% url 'project' ap.project.pk %}" >{{ ap.project }}</a> |
            <a href="" >{{ ap.user }} </a>
          </p>
        </div>
        <div class="col-auto">
          <a href="{% url 'apply_or_decline' ap.pk 'confirm' %}" class="btn btn-success">Принять заявку</a>
          <a href="{% url 'apply_or_decline' ap.pk 'delete' %}" class="btn btn-danger">Отклонить заявку</a>
          <!-- TODO insert links -->
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}


{% if managed_projects %}
  <h1>Проекты под мои управлением:</h1>
  {% for p in managed_projects %}
    {% include '../project_card.html' with menu=True %}
  {% endfor %}
{% endif %}



{% if projects %}
  <h1>Мои проекты:</h1>
  {% for p in projects %}
    {% include '../project_card.html' %}
  {% endfor %}
{% endif %}



{% else %}
<h3>Добро пожаловать, {{ user.get_full_name }}!</h3>
<p>Кажется, вы только что зарегистрировались. Давайте поищем проекты <i><a href="{% url 'MAIN' %}">специально для вас</a>!</i> Или вы всегда можете <i><a
        href="{% url 'add_project' %}">создать свой собственный проект</a>!</i></p>
<hr>
<p> Впрочем, можете не спешить - от пересдачи по ОПД ещё никто не умирал, хотя отчислиться вполне можно.</p>
{% endif %}


{% endblock %}