{% extends 'main/project_page.html' %}

{% load static %}

{% block title %} Добавление отчёта | Add report {% endblock %}

{% block form %}

<Link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<div class="card my-3">
  <form id="form" action="{% url 'add_report' p.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-header">
      <h3>Добавление отчёта</h3>
    </div>

    <div class="card-body">

      {% if form.non_field_errors %}
      <div class="mb-3 text fs-5 text-danger">
          {{ form.non_field_errors }}
      </div>
      <hr>
      {% endif %}


      {% for field in form %}

        <div class="mb-1 row">
          <div class="col-md-12">
            <label for="{{ field.id_for_label }}" class="form-label fs-4">{{ field.label }}</label>
            {{ field }}

            {% if field.errors %}
            <br>{{ field.errors }}
            {% endif %}
          </div>
        </div>

        <hr>

      {% endfor %}

      <p class="card-text">Не забывайте о ограничениях на прикрепляемые к отчёту файлы:
        <ul>
          <li>формат только <b><i>.pdf, .doc(x)</i></b> или <b><i>.ppt(x)</i></b>;</li>
          <li> максимальный размер - <b><i>25 Мб</i> </b> </li>
        </ul>
      </p>

    </div>

      <div class="card-footer py-3">
          <button type="submit" class="btn btn-primary">Опубликовать</button>
      </div>
  </form>
</div>




{% endblock %}