{% extends 'base.html' %}

{% load static %}

{% block title %}Проекты | Регистрация | Sign in{% endblock %}

{% block body %}
<div class="container mt-3 card p-0">
    <div class="container card-header">
        <h1>Заявка на проект "{{ project.name_of_project }}"</h1>
    </div>
    <img src=" {{ project.poster.url }} "  alt="{{ project.poster.url }}" height="300em" style="object-fit:cover">
    <div class="container-fluid my-4">
        {% if created == True %}
        <h3>Заявка успешно создана! Вы будете уведомлены о её принятии или отклонении</h3>
        {% elif created == False %}
        <h3>Заявка уже подана. Вы будете уведомлены о её принятии или отклонении</h3>
        {% else %}
        <h3>--------------------------</h3>
        {% endif %}
    </div>
    <div class="d-flex justify-content-end card-footer">
        <a href="{% url 'project' project.pk %}" type="button" class="btn btn-primary mx-3">Назад</a>
        <a href="{% url 'MAIN'%}" type="button" class="btn btn-primary mx-3">На главную</a>
    </div>

</div>



{% endblock %}