{% extends 'base.html' %}
{% load static %}

{% block title %}Помощь | Help{% endblock %}

{% block body %}
<div class="container-fluid mb-4">
    <h2>Известные проблемы при регистрации проектов:</h2>
    <br>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">
          <b><i>Ошибки при заполнении формы.</i></b>
          <ul>
              <li>Проверьте, чтобы все поля были заполены корректно: обратите внимание на сообщения, отображающиеся при отправлении формы</li>
              <li>Убедитесь, что прикрепляемые файлы (постер) соответствуют требованиям: поддерживаются типы файлов <b>.jpg, .png, .gif</b> и т.п. Максимальный размер файла - <b>1Мб</b>.</li>
          </ul>
      </li>
      <li class="list-group-item">
          <b><i>Ошибки при отправке формы.</i></b>
          <ul>
              <li>Убедитесь, что форма действительно отправлена. При низкой скорости интернета или высокой загруженности браузера отправка может занимать до нескольких десятков секунд. При отправке формы происходит обновление страницы. Если оно закончилось, то будет выведен ответ (страница с сообщением о принятии формы или ошибке)</li>
          </ul>
      </li>
      <li class="list-group-item">
         <b><i>Ошибки на стороне сервера</i></b><br>
          <p class="ps-2">
          Если вы убедились, что ошибка не относится к вышеперечисленным, то, возможно, проблема на стороне сервера.
              <br> Обратитесь в техническую поддержку:
            <ul>
                <li>Почта: <a href="mailto:nikitashlapak04@gmail.com" target="_blank">nikitashlapak04@gmail.com</a></li>
                <li>ВКонтакте: <a href="https://vk.com/id276340104" target="_blank">Никита Шлапак</a></li>
            </ul>
          </p>
      </li>
      <li class="list-group-item">
         <b><i>Ошибки уведомлений</i></b> <br>
          <p class="ps-2">
          При успешной отправке формы и регистрации проекта он сразу же становится доступным на сайте, а на почту, указанную при его регистрации, будут приходить письма с уведомлением о поданных заявках. Если этого не происходит - напишите в
          <a href="mailto:nikitashlapak04@gmail.com">техническую поддержку</a></p>
      </li>
    </ol>
</div>
{% endblock %}