{% extends 'base.html' %}

{% load static %}


{% block body %}
<div class="container-fluid">
  <h2> Поиск проектов по названию или куратору: </h2>
              <form role="search" action="{% url 'MAIN' %}" method="get">
                <div class="input-group mb-3">
                    {{ name_form.name }}
                  <button class="btn btn-outline-primary" type="submit" id="button-addon">Поиск</button>
                </div>
            </form>
</div>

<div class="container-fluid">
  <h3>{{ text }}</h3>
</div>
{% for p in projects %}
  {% include 'project_card.html' %}
{% endfor %}



{% endblock %}