{% extends 'base.html' %}

{% load static %}

{% block title %} Project | {{ p.name_of_project }} {% endblock %}

{% block body %}

{% if p.manager == request.user or request.user.is_staff %}
<div class="row">
    <div class="col-9">
{% endif %}
            <div class="card">
              <div class="card-header">
                  <div class="row py-1 ">
                    <div class="col">
                        <h3>{% if p.is_approved %}
                                <img src="{% static 'main\images\ok.svg' %}" alt="is_approved" height="50px">
                            {% endif %}
                            {{ p.name_of_project }}
                        </h3>
                        {% if p.is_approved %}
                            <p class="text text-primary my-0"><i>Проект с проверенным менеджером</i></p>
                        {% endif %}
                    </div>
                  </div>
              </div>
              <h3 class="card-title px-2">Тип проекта: {{ p.get_project_type_display }} </h3>
              <img src="{{ p.poster.url }}"  alt="{{ p.poster.url }}" height="400px"style="object-fit:cover">
              <div class="card-body">
                  <h3 class="card-title">Куратор: {{ p.manager.get_full_name }}</h3>
                  <h5 class="card-title">Учебные группы исполнителей: {{ p.get_all_target_group_types }}</h5>
                  <h5 class="card-title">{{ p.get_project_status_display }}</h5>
                  <hr>
                  <h5>Описание проекта:</h5>
                  <div class="card-text">{{ p.get_html_desc|safe }}</div>


                  {% if p.project_status == 'opened' %}
                    {% if not request.user == p.manager and not request.user in p.team.all %}
                        <a href="{% url 'expand' p.pk %}" class="btn btn-primary">Подать заявку</a>
                    {% else %}
                        <a href="" class="btn btn-primary disabled">Подать заявку</a>
                    {% endif %}
                  {% elif p.project_status == 'closed' %}
                      <hr>
                      <h3>Команда проекта:</h3>
                      <table class="table border table-striped" id="team">
                          <thead>
                            <tr>
                              <th scope="col">Студент</th>
                              <th scope="col">Группа</th>
                              <th scope="col">Email</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for one in p.team.all %}
                            <tr>
                              <td>{{ one.get_full_name }}</td>
                              <td>{{ one.study_group }}</td>
                              <td>{{ one.email }}</td>
                            </tr>
                           {% endfor %}
                          </tbody>
                      </table>
                      <hr>

                  {% block form %}{% endblock %}

                      <h3 class="text">Отчёты:</h3>
                  {% if not form %}
                  {% if request.user in p.team.all or request.user == p.manager %}
                      <a href="{% url 'add_report' p.pk %}#form" class="btn btn-primary" role="button">Добавить отчёт</a>
                    {% endif %}{% endif %}
                      {% for r in reports %}

                  <div class="row">
                      <div class="card my-3 p-0 col">
                          <div class="card-header">
                              <div class="row">
                                  <div class="col-6">
                                      <h5 class="text text-start">
                                      {{ r.report.author }}
                                      </h5>
                                  </div>
                                  <div class="col-6">
                                      <h5 class="text text-end">
                                      {{ r.report.publishing_time }}
                                      </h5>
                                  </div>
                              </div>
                          </div>
                          <div class="card-body">
                             <h4>{{ r.report.heading }}</h4>
                              <hr>
                              <p>{{ r.report.get_html_text|safe }}</p>

                          {% if r.file %}
                              <hr>
                              <a href="{{ r.file.url }}" class="d-flex text-decoration-none align-items-center">
                                  <img src="{% static 'main\images\logos\file_icon.svg' %}" alt="" height="50" width="50">
                                  <span class="text text-dark fs-4">{{r.report.get_file_content_type}}</span>
                              </a>

                          {% endif %}
                          </div>
                          {% if r.report.projectreportmark_set.count %}
                          <div class="card-footer">
                              <div class="row">
                                  <div class="col text-start">
                                      <h4>
                                          Оценка:
                                          <u class="
                                      {% if r.report.get_average_mark < 60 %} text-danger
                                      {% elif r.report.get_average_mark < 70 %} text-secondary
                                      {% elif r.report.get_average_mark < 90 %} text-primary
                                      {% else %} text-success {% endif %}">{{ r.report.get_average_mark }}</u>
                                      </h4>
                                  </div>
                                  <div class="col text-end">
                                      <h4>Всего оценок: {{ r.report.projectreportmark_set.count }}</h4>
                                  </div>
                              </div>
                          </div>
                          {% endif %}
                      </div>

                        {% if reports_markable %}
                    {% if r.report.is_markable %}
                      <div class="card p-0 my-3 mx-2 col-auto" style="max-width: 500px">
                          <div class="card-header">
                              <h5 class="text-center">Моя оценка</h5>
                          </div>

                          {% if r.mark %}
                          <div class="card-body pt-4">
                              <h1 class="text-center
{% if r.mark.value < 60 %} text-danger {% elif r.mark.value < 70 %} text-secondary {% elif r.mark.value < 90 %} text-primary {% else %} text-success {% endif %}">
                                  {{ r.mark.value }}
                              </h1>
                              <p class="text-center">{{r.mark.creation_time|date}}</p>
                          </div>
                          <div class="card-footer">
                              <a href="{% url 'create_mark' r.report.pk %}" role="button"class="btn btn-primary">Изменить оценку</a>
                          </div>
                          {% else %}
                          <div class="card-body pt-4">
                              <h1 class="text-center">-</h1>
                              <p class="text-center">Вы ещё не оценили <br> этот отчёт</p>
                          </div>
                          <div class="card-footer">
                              <a href="{% url 'create_mark' r.report.pk %}" role="button"class="btn btn-success w-100 text-center">Оценить</a>
                          </div>
                          {% endif %}
                      </div>
                      {% endif %}
                      {% endif %}

                      </div>
                      {% endfor %}

                  {% endif %}
              </div>
            </div>

{% if p.manager == request.user or request.user.is_staff %}
    </div>
    <div class="col-3">
        <div class="card sticky-top">
            <div class="card-header">
                <h4>Панель управления</h4>
            </div>
            <div class="card-body p-1">
                <div class="border border-2 rounded-2 px-2 py-1">
                    <h5>Управление проектом:</h5>
                    {% if p.project_status == 'under_review' or p.project_status == 'rejected' or request.user.is_superuser %}
                        <a href="{% url 'edit' p.pk %}" role="button" class="btn btn-outline-success w-100 mt-2">Редактировать</a>
                    {% endif %}
                    {% if p.manager == request.user or request.user.is_superuser %}
                        {% if p.project_status == 'opened'  %}
                            <a href="{% url 'set_project_status' p.pk 'close' %}" role="button" class="btn btn-outline-primary w-100 mt-2">Закрыть Набор</a>
                        {% endif %}
                    {% endif %}
                    {% if request.user != p.manager or request.user.is_superuser %}
                        {% if  request.user.is_staff or request.user.is_superuser %}
                            {% if p.project_status == 'under_review' or p.project_status == 'rejected' or request.user.is_superuser %}
                                {% if p.project_status == 'under_review' or p.project_status == 'rejected' %}
                                    <br>
                                    <a href="{% url 'set_project_status' p.pk 'confirm' %}" role="button" class="btn btn-outline-success w-100 mt-2" >Подтвердить</a>
                                {% endif %}

                                    <br>
                                    <a role="button" class="btn btn-outline-danger w-100 mt-2" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">Отклонить</a>

                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if request.user == p.manager or request.user.is_superuser %}
                    <br>
                    <a href="{% url 'set_project_status' p.pk 'delete' %}" role="button" class="btn btn-danger w-100 mt-2">Удалить</a>
                    {% endif %}
                </div>
                {% if applyies %}
                    <div class="border border-2 rounded-2 px-2 py-1 mt-2">
                        <h5>Заявки:</h5>
                        {% for ap in applyies %}
                        <hr class="my-0">
                            <div class="row px-1">
                                <div class="col border-end pt-2">
                                    <a href="" class="align-middle text-decoration-none ">{{ap.user}}</a>
                                </div>
                                <div class="col-auto border-end px-1">
                                    <a href="{% url 'apply_or_decline' ap.pk 'confirm' %}">
                                        <img src="{% static 'main\images\confirm.svg' %}" alt="confirm" height="45px" >
                                    </a>
                                </div>
                                <div class="col-auto ps-1 pe-2 ">
                                    <a href="{% url 'apply_or_decline' ap.pk 'delete' %}">
                                        <img src="{% static 'main\images\decline.svg' %}" alt="decline" height="45px">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Отклонение проекта</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{% url 'verify_delete' p.pk %}" method="post">
        {% csrf_token %}

        <div class="container w-100 py-2">
          {% for field in reject_form %}
          <div class="row my-1 align-items-center">
            <div class="col-4">
              <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}:    </label>
            </div>
            <div class="col-8">
              {{ field }}
            </div>
          </div>
          <div class="form-text row text-danger">{{ field.errors }}</div>

          {% endfor %}

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-danger">Подтвердить</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}