{% extends 'base.html' %}

{% load static %}

{% block title %} Project | {{ p.name_of_project }} {% endblock %}

{% block body %}

{% if p.manager == request.user or request.user.is_staff %}
<div class="row">
    <div class="col-xl-9">
{% endif %}
            <div class="card">
              <div class="card-header">
                  <div class="row py-1 ">
                    <div class="col">
                        <h3>{% if p.is_approved %}
                                <img src="{% static 'main\images\ok.svg' %}" alt="is_approved" height="50px">
                            {% endif %}
                            {{ p.name_of_project }}
                        </h3>
                        {% if p.is_approved %}
                            <p class="text text-primary my-0"><i>Проект с проверенным менеджером</i></p>
                        {% endif %}
                    </div>
                      {% if p.manager == request.user or request.user.is_staff %}
                      <div class="col-auto">
                          <button class="btn btn-primary d-xl-none"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasResponsivePanel"
                            aria-controls="offcanvasResponsivePanel">Управление проектом</button>
                      </div>
                        {% endif %}
                  </div>
              </div>
              <h3 class="card-title px-2">Тип проекта: {{ p.get_project_type_display }} </h3>
              <div class="mx-auto"><img src=" {{ p.poster.url }} " class="card-img-top " alt="{{ p.poster.url }}" style="max-height:400px" ></div>
              <div class="card-body">
                  <h3 class="card-title">Куратор: {{ p.manager.get_full_name }}</h3>
                  <h5 class="card-title">Учебные группы исполнителей: {{ p.get_all_target_group_types }}</h5>
                  <h5 class="card-title">{{ p.get_project_status_display }}</h5>
                  <hr>
                  <h5>Описание проекта:</h5>
                  <div class="card-text">{{ p.get_html_desc|safe }}</div>


                  {% if p.project_status == 'opened' %}
                    {% if not request.user == p.manager and not request.user in p.team.all %}
                        <a href="{% url 'expand' p.pk %}" class="btn btn-primary">Подать заявку</a>
                    {% else %}
                        <a href="" class="btn btn-primary disabled">Подать заявку</a>
                    {% endif %}
                  {% elif p.project_status == 'closed' %}
                      <hr>
                      <h3>Команда проекта:</h3>
                      <table class="table border table-striped" id="team">
                          <thead>
                            <tr>
                              <th scope="col">Студент</th>
                              <th scope="col">Группа</th>
                              <th scope="col">Email</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for one in p.team.all %}
                            <tr>
                              <td>{{ one.get_full_name }}</td>
                              <td>{{ one.study_group }}</td>
                              <td>{{ one.email }}</td>
                            </tr>
                           {% endfor %}
                          </tbody>
                      </table>
                      <hr>

                  {% block form %}{% endblock %}

                      <h3 class="text">Отчёты:</h3>
                  {% if not form %}
                  {% if request.user in p.team.all or request.user == p.manager %}
                      <a href="{% url 'add_report' p.pk %}#form" class="btn btn-primary" role="button">Добавить отчёт</a>
                    {% endif %}{% endif %}
                      {% for r in reports %}
                        {% include 'report_card.html' %}
                      {% endfor %}
                  {% endif %}
              </div>
            </div>
    </div>
{% if p.manager == request.user or request.user.is_staff %}
<div class="col-xl-3">
    <div class="offcanvas-xl offcanvas-end  sticky-xl-top p-0 " data-bs-backdrop="false" data-bs-scroll="true" tabindex="-1" id="offcanvasResponsivePanel" aria-labelledby="offcanvasResponsiveLabel">
      <div class="offcanvas-header bg-primary">
        <h5 class="offcanvas-title text-white" id="offcanvasResponsiveLabel">Управление проектом</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsivePanel" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body d-block">
            <div class="card  ">
                <div class="card-header">
                    <h5>Действия с проектом</h5>
                </div>
                <div class="card-body p-1">
                        {% if p.project_status == 'under_review' or p.project_status == 'rejected' or request.user.is_superuser %}
                            <a href="{% url 'edit' p.pk %}" role="button" class="btn btn-outline-success w-100 mt-2">Редактировать</a>
                        {% endif %}
                        {% if p.manager == request.user or request.user.is_superuser %}
                            {% if p.project_status == 'opened'  %}
                                <a href="{% url 'set_project_status' p.pk 'close' %}" role="button" class="btn btn-outline-primary w-100 mt-2">Закрыть Набор</a>
                            {% endif %}
                        {% endif %}
                        {% if request.user != p.manager or request.user.is_superuser %}
                            {% if  request.user.is_staff or request.user.is_superuser %}
                                {% if p.project_status == 'under_review' or p.project_status == 'rejected' or request.user.is_superuser %}
                                    {% if p.project_status == 'under_review' or p.project_status == 'rejected' %}
                                        <br>
                                        <a href="{% url 'set_project_status' p.pk 'confirm' %}" role="button" class="btn btn-outline-success w-100 mt-2" >Подтвердить</a>
                                    {% endif %}

                                        <br>
                                        <a role="button" class="btn btn-outline-danger w-100 mt-2" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">Отклонить</a>

                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if request.user == p.manager or request.user.is_superuser %}
                        <br>
                        <a href="{% url 'set_project_status' p.pk 'delete' %}" role="button" class="btn btn-danger w-100 mt-2">Удалить</a>
                        {% endif %}
                </div>
            </div>
        {% if applyies %}
            <div class="card   mt-2">
                <div class="card-header">
                    <h5>Заявки</h5>
                </div>
                {% for ap in applyies %}
                <hr class="my-0">
                    <div class="row px-1">
                        <div class="col border-end pt-2">
                            <a href="" class="align-middle text-decoration-none ">{{ap.user}}</a>
                        </div>
                        <div class="col-auto border-end px-1">
                            <a href="{% url 'apply_or_decline' ap.pk 'confirm' %}">
                                <img src="{% static 'main\images\confirm.svg' %}" alt="confirm" height="45px" >
                            </a>
                        </div>
                        <div class="col-auto ps-1 pe-2 ">
                            <a href="{% url 'apply_or_decline' ap.pk 'delete' %}">
                                <img src="{% static 'main\images\decline.svg' %}" alt="decline" height="45px">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      </div>

    </div>
</div>
{% endif %}


<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Отклонение проекта</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{% url 'verify_delete' p.pk %}" method="post">
        {% csrf_token %}

        <div class="container w-100 py-2">
          {% for field in reject_form %}
          <div class="row my-1 align-items-center">
            <div class="col-4">
              <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}:    </label>
            </div>
            <div class="col-8">
              {{ field }}
            </div>
          </div>
          <div class="form-text row text-danger">{{ field.errors }}</div>

          {% endfor %}

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-danger">Подтвердить</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}